* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*? CSS Variables */
:root {
  --orange: #fd7200;
  --orange-light: #0290ac;
  --orange-dark: rgb(5, 144, 144);
  --gray-light: #ead4d4;
  --gray-medium: #daabab;
  --fume: #339c79;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--gray-light);
}
/*? Global Icons */
i {
  color: var(--orange);
  padding: 0.5rem;
  cursor: pointer;
}
i:hover {
  color: white;
  border-radius: 50%;
  background-color: var(--orange);
}

/** Header */
header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
  background-color: rgb(235, 204, 204);
  color: var(--orange-dark);
  border-bottom: 1px solid var(--gray-medium);
}

/** NAV */
nav {
  padding: 0 1rem;
  background-color: rgba(13, 65, 111, 0.677);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .my-cart {
  font-size: 22px;
  font-weight: 600;
  padding: 1rem;
}
nav .delete-div {
  color: var(--orange);
  font-weight: 500;
  text-shadow:1px 1px 2px #100909;
  font-size: 14px;
}

/** ------- MAIN --------- */
main {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  gap: 1rem 4rem;
}
/*? Product List section */
main .product-list {
  flex: 4;
  border-radius: 10px;
  background-color: white;
}

main .product-list .store {
  background-color: #c5d0d5;
  padding: 1.2rem 0.5rem;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 2px solid var(--gray-light);
  border-radius: 10px 10px 0 0;
}

main .product-list .no-product {
  text-align: center;
  padding: 1rem;
  color: var(--orange-dark);
  font-size: 20px;
}
main .product {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: #e7dee2;
  border: 3px solid var(--gray-medium);
  
}

main .product img {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  border: 3px solid var(--gray-medium);
}

main .product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

main .product-info h2 {
  font-size: 16px;
  color: var(--fume);
}

main .product-prices strong {
  color: var(--orange-light);
  font-size: 16px;
  font-weight: 600;
}

main .product-prices .line-through {
  text-decoration: line-through;
  font-size: 12px;
}

.dollar::after {
  content: " $";
}

main .buttons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

main .buttons-div .plus-minus {
  border: 1px solid var(--gray-light);
  border-radius: 50px;
  display: inline-block;
  background-color: rgba(248, 204, 197, 0.776);
}


main .buttons-div i {
  margin: 0.5rem;
}
main .buttons-div .dollar {
  font-weight: 600;
}
/*? ---- Product List section --- */
main .price-table {
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  border: 3px solid var(--gray-medium);
  flex: 1;
  text-align: center;
  min-width: 250px;
  max-height: 250px;
}
main .price-table .total-prices {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

main .price-table .total-prices .finish-btn {
  background-color: var(--orange-dark);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
}

main .total-info {
  margin-top: 1rem;
}

main .price-table h4 {
  color: var(--orange-dark);
}

main .total-info .text-div {
  display: flex;
  justify-content: space-between;
  color: var(--fume);
}

/*! ------ RESPONSIVE ------- */

@media only screen and (max-width: 800px) {
  main {
    flex-direction: column;
  }
  main .price-table {
    flex: 1;
  }
  main .price-table .total-prices {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 500px) {
  main .price-table .total-prices {
    flex-direction: column;
  }
  main .buttons-div {
    flex-direction: column;
    align-items: flex-start;
  }
  main .buttons-div i {
    margin: 0.2rem;
  }
  main .buttons-div .dollar {
    margin-top: 1rem;
    font-size: 20px;
  }  main .product img {
    width: 100px;
    height: 100px;
  }
}

